.upper_part img  {
    float: left;
    width: 300px;
    margin-right: 20px;
}

p {
    background-color: yellow;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.content {
    box-sizing: border-box;
    border: 1rem;
    border-style: dotted;
    width: 100%;
}

.img_section img {
    box-sizing: border-box;
    width: 30%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: darkgray;
}

section {
margin-left: 10%;
margin-right: 10%;
background-color: cornsilk;
}