img  {
    float: left;
    width: 300px;
    margin-right: 20px;
}

p {
    background-color: yellow;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.content {
    border: 1rem;
    border-style: dashed;
    width: 700px;
}